@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=PT+Sans:ital@0;1&display=swap');

body {
    margin: 0;
    background-color: white;
    font-family: 'PT Sans';
}

h2, h4 {
    font-family: 'Montserrat';
}

option, input, label, button {
    font-family: 'PT Sans';
}

input, label, select {
    margin: 0px 10px;
}

select {
    width: 155px;
}

#nav-header {
    background-color: rgb(33, 30, 84);
    height: 80px;
    font-family: 'Montserrat';
    color: white;
    display: flex;
    flex-direction: row;
    padding: 0px 50px;
}

#header-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    font-size: 2.5em;
}

#header-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    font-size: 1.1em;
}

.nav-logo {
    cursor: pointer;
}

.nav-logo:hover {
    color: rgb(74, 173, 227);
}

.nav-link {
    margin: 0px 12px;
}

.nav-link:hover {
    cursor: pointer;
    color: rgb(74, 173, 227);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/*     border: 1px solid black; */
}

section {
/*     border: 1px solid blue; */
    width: 90%;
    height: 900px;
}

#signup-form, #signin-form, #settings-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.description-box {
    width: 28%;
    text-align: center;
}

.signup-box, .signin-box, .settings-box {
/*     border: 1px solid green; */
    padding: 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 28%;
    height: 25px;
    font-size: .9em;
}


#dash-username, #dash-country {
    color: rgb(74, 173, 227);
    text-transform: uppercase;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dash-header {
    max-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dash-navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    
}

.dash-navlink {
    width: 30%;
    margin: 0px 0.5px;
    text-align: center;
    font-size: 1.0em;
    box-shadow: inset 0px 0px 5px rgb(230, 230, 230);
    border-radius: 2px;
}

.dash-navlink:hover {
    background-color:rgb(242, 242, 242);
    box-shadow: inset 0px 0px 5px rgb(210, 210, 210);
    border-bottom: 3px solid rgb(15, 15, 15);
    cursor: pointer;
}

.dash-navlink:active {
    background-color:rgb(242, 242, 242);
    box-shadow: inset 0px 0px 5px rgb(210, 210, 210);
    border-bottom: 3px solid rgb(15, 15, 15);
}

.dash-viewer {
    width: 90%;
    margin: 0px 0px;
    padding: 0px 0.5px;
    box-shadow: inset 0px 0px 5px rgb(230, 230, 230);
    border-radius: 2px;
}

#area-headlines, #area-search, #area-bookmarks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 1150px;
/*     padding: 50px 50px; */
}

#dash-search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

#search-bar {
    width: 200px;
}



.article-component {
    width: 450px;
    height: 220px;
    position: relative;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.article-component:hover {
    transform: scale(1.02, 1.02);
}

.article-overlay {
    position: absolute;
    width: 450px;
    height: 220px;
    background-color: rgba(20, 20, 20, 0.7);
    z-index: 1;
    border-radius: 10px;
    margin: 10px 10px;
}



.article-title {
    position: absolute;
    color: white;
    font-size: 1.2em;
    top: 30%;
    text-align: center;
    width: 80%;
    z-index: 2;
}

.article-title:hover {
    color:rgb(74, 173, 227);
}

.article-image {
    width: 450px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px 10px;
}

.article-button {
    position: absolute;
    top: 80%;
    z-index: 3;
    font-size: 1.0em;
    width: 20%;
    cursor: pointer;
}

.article-bookmark {
    position: absolute;
    color: white;
    top: 80%;
    z-index: 3;
    cursor: pointer;
    border: 1px solid white;
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.article-bookmark:hover {
    color:rgb(74, 173, 227);
    border: 1px solid rgb(74, 173, 227);
}







.active {
    background-color:rgb(242, 242, 242);
    box-shadow: inset 0px 0px 5px rgb(210, 210, 210);
    border-bottom: 3px solid rgb(15, 15, 15);
}

.active-nav {
    color: rgb(74, 173, 227);
}

.active-link {
    color:rgb(74, 173, 227);
}

.active-bookmark {
    color:rgb(74, 173, 227);
    border: 1px solid rgb(74, 173, 227);
}

.hidden {
    display: none;
}

.v-hidden {
    visibility: hidden;
}

.v-visible {
    visibility: visible;
}